

  
        <div class="col-lg-10 mx-auto " style="margin-top: 150px;">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XR (Red, 128 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹64,999</h6>
  
                            </div>
                        </div><img src="https://png2.kisspng.com/sh/6ed0d41aa194fb899f8ed29aa948b1ee/L0KzQYq3U8A1N5dxepH0aYP2gLBuTfFxeJ1qRdt5aHBxdX7Bk71uaakygeJxb37oPcn5TgNuaaN5iNp4bnWwecHvjB5mNWZoRdt5aHBxdX7Bkr0zPWdsep92aT3meLK0iBNpNZl0jJ9taT24c4jqhcFnbZQ7e6VtOD60QIe7WckxQWI6TaMBOEi0SYGBUcQzNqFzf3==/kisspng-apple-iphone-xs-max-iphone-xr-smartphone-iphone-5c-iphone-xr-256gb-mi-cha-kch-hot-di-5c7ce1fec6c3d8.1064990915516881908142.png" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XS (Silver, 64 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">64 GB ROM | 14.73 cm (5.8 inch) Super Retina HD Display 12MP + 12MP | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹99,900</h6>
         
                            </div>
                        </div><img src="https://images-na.ssl-images-amazon.com/images/I/61UXPmnTC9L._SL1024_.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Apple iPhone XS Max (Gold, 64 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">64 GB ROM | 16.51 cm (6.5 inch) Super Retina HD Display 12MP + 12MP | 7MP Front Camera A12 Bionic Chip Processor</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹1,09,900</h6>
 
                            </div>
                        </div><img src="https://png2.kisspng.com/sh/5282768bd60ef6cc334dad23542b7586/L0KzQYq3VsA3N6R7hJH0aYP2gLBuTfFxeJ1qRdt5aHBxdX7Bk71uaakygeJxb37oPcn5TflxcJDzfZ8BLUa3PbjpTfVtbZR5itH3aXP2PbL3kPxmNZp1gNH3ZT37g370ggguPWI3RdlrLXfyfLW0hgUud146e9gEY0G1dbPqV8UxO184T6YAN0mzR4K8Vck5P2I8UaICN0G8PsH1h5==/kisspng-apple-iphone-xs-max-iphone-xr-iphone-6-64-gb-electronics-apple-iphone-xs-max-512-gb-gold-eu-o-5cf9c12ebc7503.3745790715598717907719.png" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">OnePlus 7 Pro (Almond, 256 GB)</h5>
                            <p class="font-italic text-muted mb-0 small">Rear Camera|48MP (Primary)+ 8MP (Tele-photo)+16MP (ultrawide)| Front Camera|16 MP POP-UP Camera|8GB RAM|Android pie</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹ 52,999</h6>

                            </div>
                        </div><img src="https://images-na.ssl-images-amazon.com/images/I/51xngnPYqFL._SL1000_.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>


