

  
        <div class="col-lg-10 mx-auto " style="margin-top: 150px;">
            <!-- List group-->
            <ul class="list-group shadow">

                <!-- list group item-->
                <li class=" list-group-item" *ngFor="let match of matches;let i = index">
                    <!-- Custom content-->
                    
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3" style="margin-left: 0px;">
                        <div class="column order-1 order-lg-1 " style="margin-right: 10px; height: 100px;">
                            <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class=" fas fa-arrow-circle-down"></i></a></div>
                           
                        <div class="media-body order-2 order-lg-2">
                            <h5 class="mt-0 font-weight-bold mb-2" *ngIf="!match.user.player.playerMatchData.stats.win;else lose" style="color: red">Derrota</h5>
                            <ng-template #lose><h5 class="mt-0 font-weight-bold mb-2" id="lose" style="color: greenyellow">Victoria</h5></ng-template>
                            <p class="font-italic text-muted mb-0 small">Asesinatos:{{match.user.player.playerMatchData.stats.kills}} 
                                Muertes: {{match.user.player.playerMatchData.stats.deaths}}
                                Asistencias: {{match.user.player.playerMatchData.stats.assists}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">KDA:{{match.user.KDA}} </h6>
  
                            </div>
                        </div><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{match.user.player.playerMatchData.champion}}_0.jpg" alt="Generic placeholder image" height="100" width="130" class="rounded-circle ml-lg-5 order-2 order-lg-3">

                    </div> <!-- End -->

                    <div class=" collapse align-items-lg-center flex-column flex-lg-row p-3" style="margin-left: 0px;" id ="collapseExample">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">KDA</th>
                                <th scope="col">Vision score</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let player  of match.teams[0].teamPlayers">
                              <tr class="table-danger">
                                <th scope="row">1</th>
                                <td>{{player.player.summonerName}}</td>
                                <td>K:{{player.player.playerMatchData.stats.kills}} D:{{player.player.playerMatchData.stats.deaths}} A:{{player.player.playerMatchData.stats.assists}}</td>
                                <td>K:{{player.player.playerMatchData.stats.visionScore}}</td>
                              </tr>
                          </table>

                          <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">KDA</th>
                                <th scope="col">Vision score</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let player  of match.teams[1].teamPlayers">
                              <tr class="table-danger">
                                <th scope="row">1</th>
                                <td>{{player.player.summonerName}}</td>
                                <td>K:{{player.player.playerMatchData.stats.kills}} D:{{player.player.playerMatchData.stats.deaths}} A:{{player.player.playerMatchData.stats.assists}}</td>
                                <td>K:{{player.player.playerMatchData.stats.visionScore}}</td>
                              </tr>
                          </table>
                          
                          
                    </div> 

                </li> 
                
            </ul>
            <button style="width: 100%;" (click)="onButton()"> Load more</button> 
        </div>


