<div class="col-md-3">
<header style="text-align: center;">Campeones</header>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active ">
      <div class="d-flex w-100 justify-content-between text-center">
        <img class="rounded-circle" width="70px" height="70px" src="https://avatarfiles.alphacoders.com/897/89770.jpg"/>
        <h5 class="mb-1">Campeones</h5>
        <small>3 days ago</small>
      </div>

    </a>
    <a  class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between ">
                    <img class="rounded-circle" width="70px" height="70px" src="https://avatarfiles.alphacoders.com/897/89770.jpg"/>
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between ">
                    <img class="rounded-circle" width="70px" height="70px" src="https://avatarfiles.alphacoders.com/897/89770.jpg"/>
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
    </a>
  </div>
</div>
