

    <div class="col-md-4 " >
        <div id="profile" style="padding-top: 20px;">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{user.champions[0].championName}}_0.jpg"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="https://avatarfiles.alphacoders.com/897/89770.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>{{user.name}}<small>{{user.rankStats.tier}}  {{user.rankStats.rank}}</small></h2>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <canvas id="doughnut"></canvas>
                            </div>
                            <div>
                                Wins:{{user.rankStats.wins}}
                                Loses:{{user.rankStats.losses}}
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
