

    <div class="col-md-4 ">
        <div id="profile">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://bolavip.com/__export/1568168033768/sites/bolavip/img/2019/09/10/54c5bb06de5a9cb2667ee73e37a08175e994ccc3r1-1215-683v2_hq_crop1568168033332.jpg_1693159006.jpg"
                        alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="https://avatarfiles.alphacoders.com/897/89770.jpg" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>{{user.name}}<small>{{user.rankStats.tier}}  {{user.rankStats.rank}}</small></h2>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <canvas id="doughnut"></canvas>
                            </div>
                            <div>
                                Wins:{{user.rankStats.wins}}
                                Loses:{{user.rankStats.losses}}
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
